<!DOCTYPE html>
<html lang="en">

<body>
    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text">
                        <i class="fa fa-check-circle" aria-hidden="true"></i>
                        <h2>Teşekkürler @ViewBag.first @ViewBag.last</h2>
                        <p>Mesajınız başarıyla gönderildi ve elimizden geldiğince hızlı cevap vereceğiz</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

</body>

</html>