
<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="ZEMZEM VAKFI, Zemzem Vakfı, zemzemvakif.tc , www.zemzemvakif.tc ">
    <meta name="keywords" content="Zemzem Vakfı,ZEMZEM VAKFI,zemzem vakıf,zemzem vakif,zemzemvakfı,ZemzemVakfı,zemzemvakif.tc,www.zemzemvakif.tc">
    <meta name="author" content="Zemzem Vakfı">
    <meta name="google-site-verification" content="USgYu0zD5KRhar03dEuk_yIivHDWz_JrcqczLKOAdJg" />
    <link rel="icon" href="~/assets/images/logo/2.jpg.jpeg" type="image/x-icon">
    <link rel="shortcut icon" href="~/assets/images/logo/2.jpg.jpeg" type="image/x-icon">
    <title>ZEMZEM VAKFI</title>

    <!--Google font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">

    <!-- Icons -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/fontawesome.css">

    <!--Slick slider css-->
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/slick-theme.css">

    <!-- Animate icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/animate.css">

    <!-- Themify icon -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/themify-icons.css">

    <!-- Bootstrap css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/bootstrap.css">

    <!-- Theme css -->
    <link rel="stylesheet" type="text/css" href="~/assets/css/color19.css" media="screen" id="color">


</head>

<body>



    <!-- header start -->
    <header class="header-tools marketplace">
        <div class="mobile-fix-option"></div>
        <div class="top-header">
            <div class="container-fluid custom-container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header-contact">
                            <ul class="icon-map-alt">
                                <li class="fa fa-map-marker"> Tavukçuyolu,34775 Osb/Ümraniye/İstanbul</li>
                                <li><i class="fa fa-phone" aria-hidden="true"></i>Bize Ulaşın: 0216-499-11-11</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <ul class="header-dropdown">


                            <li>
                                <a href="https://www.linkedin.com/in/zemzem-vakf%C4%B1-006846233/" class="fa fa-linkedin" target="_blank" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/Zemzem-E%C4%9Fitim-105690835365903" class="fa fa-facebook" target="_blank" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/zemzem_vakfi" class="fa fa-twitter" target="_blank" aria-hidden="true"></a>
                            </li>
                            <li>
                                <a href="https://www.instagram.com/zemzemvakfi/" class="fa fa-instagram" target="_blank" aria-hidden="true"></a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid custom-container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="main-menu">
                        <div class="menu-left">

                            <div class="brand-logo" style="height:190px;width:300px;">
                                <a href="~/">
                                    <img src="~/assets/images/logo/white.PNG"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>

                            </div>
                        </div>
                        <div class="menu-right pull-right">
                            <div>
                                <nav id="main-nav">
                                    <div class="toggle-nav"><i class="fa fa-bars sidebar-bar"></i></div>
                                    <ul id="main-menu" class="sm pixelstrap sm-horizontal">
                                        <li>
                                            <div class="mobile-back text-right">
                                                Back<i class="fa fa-angle-right pl-2"
                                                       aria-hidden="true"></i>
                                            </div>
                                        </li>
                                        @*<li>
                                                <a href="~/">AnaSayfa</a>

                                            </li>*@



                                        <li>
                                            <a href="~/">Kurumsal</a>
                                            <ul>
                                                <li><a href="/Home/about">hakkımızda</a></li>
                                                <li><a href="/Home/manager">başkandan</a></li>
                                                <li><a href="/Home/goals">vizyon & misyon &hedef</a></li>
                                                <li><a href="/Home/kvkk">KVKK</a></li>

                                            </ul>
                                        </li>
                                        <li>
                                            @await Component.InvokeAsync("Categories")


                                        </li>


                                        <li>
                                            <a href="#">PROJELER</a>
                                            <ul>
                                                <li><a href="#">mini market</a></li>
                                                <li><a href="#">hastaneler İnşa etmek</a></li>
                                                <li><a href="#">okul İnşa etmek</a></li>
                                                <li><a href="#">kaplıcalar</a></li>
                                                <li><a href="#">Turistik tatil köyleri</a></li>
                                                <li><a href="#">yaşlılık evi</a></li>
                                                <li><a href="#">Sağlık turizmi</a></li>
                                                <li><a href="#">restoran binası</a></li>
                                                <li><a href="#">otel İnşa etmek</a></li>
                                                <li><a href="#">üniversiteler İnşa etmek</a></li>
                                                <li><a href="#">alışveriş merkezi binası</a></li>

                                            </ul>
                                        </li>


                                        @*<li>
                                            <a href="/Home/galeri">GALERİ</a>

                                        </li>*@
                                        <li>
                                            <a href="/Home/haber">MEDYA HABERLER</a>

                                        </li>
                                        <li>
                                            <a href="/Contact/contact">İletİşİm</a>

                                        </li>
                                        <li>
                                            <a href="/Home/burs" style="color:#fff; background-color:#15a599;" class="btn btn-solid">Burs Başvuru</a>
                                        </li>
                                        @*<li>
                                                <a href="~/" style="color:#fff; background-color:#15a599;" class="btn btn-solid">yardım muracaat</a>
                                            </li>*@
                                    </ul>
                                </nav>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header end -->


    @RenderBody()

    <!-- footer -->
    <footer class="footer-light">

        <section class="section-b-space light-layout">
            <div class="container">
                <div class="row footer-theme partition-f">
                    <div class="col-lg-4 col-md-6">
                        <div class="footer-title footer-mobile-title">

                        </div>
                        <div class="footer-contant">
                            <div class="footer-logo"><img src="~/assets/images/footer2.jpeg" alt=""></div>

                            <div class="footer-social">
                                <ul>

                                    <li>
                                        <a href="https://www.linkedin.com/in/zemzem-vakf%C4%B1-006846233/"> <i class="fa fa-linkedin" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/Zemzem-E%C4%9Fitim-105690835365903"> <i class="fa fa-facebook" aria-hidden="true"></i> </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/zemzem_vakfi"> <i class="fa fa-twitter" aria-hidden="true"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/zemzemvakfi/"> <i class="fa fa-instagram" aria-hidden="true"> </i></a>
                                    </li>



                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col offset-xl-1">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h3>HESAP NUMARALARI</h3>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li> <strong style="color:lightseagreen">Ziraat Bankası Bursa Şubesi(TL Hesabı): Hesap No </strong>: 97547029-5001 <strong style="color: lightseagreen">IBAN Numarası</strong>:TR09 0001 0015 4797 5470 2950 01</li>
                                    <li> <strong style="color:lightseagreen">Ziraat Bankası Bursa Şubesi(Dolar Hesabı): Hesap No</strong> : 97547029-5002 <strong style="color: lightseagreen">IBAN Numarası</strong>:TR73 0001 0015 4797 5470 2950 02</li>
                                    <li> <strong style="color:lightseagreen">Ziraat Bankası Bursa Şubesi(SAR-SUUDİ Hesabı): Hesap No</strong> :  97547029-5004 <strong style="color: lightseagreen">IBAN Numarası</strong> : TR19 0001 0015 4797 5470 2950 04</li>
                                </ul>

                                <div class="footer-contant">
                                    <ul class="contact-list">
                                        <li>
                                            <i class="fa fa-map-marker"></i> Yukarı Dudullu mahallesi tavukçu yolu caddesi no: 237/1 Posta34775 Ümraniye / İstanbul
                                        </li>
                                        <li><i class="fa fa-phone"></i>telefon: 0216 499 11 11</li>

                                        <li><i class="fa fa-fax"></i>Fax: 415 05 05</li>
                                    </ul>
                                </div>
                            </div>
                            <!--<div class="footer-contant">
                            <ul>
                                <li><a href="/Home/about">hakkımızda</a></li>
                                <li><a href="/Home/manager">başkandan</a></li>
                                <li><a href="/Home/goals">vizyon&misyon&hedef</a></li>
                                                        @*<li><a href="/Home/questions">sıkça sorular</a></li>*@
                                                        <!--<li><a href="/Home/kvkk">KVKK</a></li>

                                </ul>
                            </div>-->
                        </div>
                    </div>
                    <!--<div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>FAALİYETLER</h4>
                            </div>
                            <div class="footer-contant">
                                <ul>
                                    <li><a href="#">Yardımlar</a></li>
                                    <li><a href="#">Projeler</a></li>
                                    <li><a href="#">Kurban</a></li>
                                    <li><a href="#">Ramazan</a></li>
                                    <li><a href="#">Zekat-Fitre</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="sub-title">
                            <div class="footer-title">
                                <h4>Bize Ulaşın</h4>
                            </div>
                            <div class="footer-contant">
                                <ul class="contact-list">
                                    <li>
                                        <i class="fa fa-map-marker"></i> Yukarı Dudullu mahallesi tavukçu yolu caddesi no: 237/1 Posta34775 Ümraniye / İstanbul
                                    </li>
                                    <li><i class="fa fa-phone"></i>telefon: 0212 499 11 11</li>-->
                    @*<li><i class="fa fa-envelope-o"></i>E-Posta: <a href="#">info@zemzemvakif.tc</a></li>*@
                    <!--<li><i class="fa fa-fax"></i>Fax:Yukarı Dudullu mahallesi tavukçu yolu caddesi no: 237/1 Posta34775 Ümraniye / İstanbul</li>
                                </ul>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </section>
        <div class="sub-footer">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-md-6 col-sm-12">
                        <div class="footer-end">
                            <p>
                                <i class="fa fa-copyright" aria-hidden="true"></i> 2022-23 powered by
                                Zemzem VAKFI(AHMED MEGAHED)
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <!-- footer end -->
    <!-- theme setting -->
    @*<a href="javascript:void(0)" onclick="openSetting()">

            <div>
                <i class="fa fa-cog" aria-hidden="true"></i>
            </div>

        </a>*@
    <div id="setting_box" class="setting-box">
        <a href="javascript:void(0)" class="overlay" onclick="closeSetting()"></a>
        <div class="setting_box_body">
            <div onclick="closeSetting()">
                <div class="sidebar-back text-left"><i class="fa fa-angle-left pr-2" aria-hidden="true"></i> Back</div>
            </div>
            <div class="setting-body">

                <div class="setting-title">
                    <h4>color picker</h4>
                </div>
                <div class="setting-contant">
                    <ul class="color-box">
                        <li>
                            <input id="ColorPicker1" type="color" value="#3e5067" name="Background">
                            <span>theme deafult color</span>
                        </li>
                    </ul>
                </div>
                <div class="setting-title">
                    <h4>RTL</h4>
                </div>
                <div class="setting-contant">
                    <ul class="setting_buttons">
                        <li class="active" id="ltr_btn">
                            <a href="javascript:void(0)" class="btn setting_btn">LTR</a>
                        </li>
                        <li id="rtl_btn"><a href="javascript:void(0)" class="btn setting_btn">RTL</a></li>
                    </ul>
                </div>
                
            </div>
        </div>
    </div>
    <!-- theme setting -->
    <!-- tap to top -->
    <div class="tap-top top-cls">
        <div>
            <i class="fa fa-angle-double-up"></i>
        </div>
    </div>
    <!-- tap to top end -->
    <!-- latest jquery-->
    <script src="~/assets/js/jquery-3.3.1.min.js"></script>

    <!-- fly cart ui jquery-->
    <script src="~/assets/js/jquery-ui.min.js"></script>

    <!-- exitintent jquery-->
    <script src="~/assets/js/jquery.exitintent.js"></script>
    <script src="~/assets/js/exit.js"></script>

    <!-- popper js-->
    <script src="~/assets/js/popper.min.js"></script>

    <!-- slick js-->
    <script src="~/assets/js/slick.js"></script>

    <!-- menu js-->
    <script src="~/assets/js/menu.js"></script>

    <!-- lazyload js-->
    <script src="~/assets/js/lazysizes.min.js"></script>

    <!-- Bootstrap js-->
    <script src="~/assets/js/bootstrap.js"></script>

    <!-- Bootstrap Notification js-->
    <script src="~/assets/js/bootstrap-notify.min.js"></script>

    <!-- Fly cart js-->
    <script src="~/assets/js/fly-cart.js"></script>

    <!-- Theme js-->
    <script src="~/assets/js/script.js"></script>

    <script>
        $(window).on('load', function () {
            setTimeout(function () {
                $('#exampleModal').modal('show');
            }, 2500);
        });
        function openSearch() {
            document.getElementById("search-overlay").style.display = "block";
        }

        function closeSearch() {
            document.getElementById("search-overlay").style.display = "none";
        }
    </script>
    @RenderSection("Scripts", required: false)

</body>

</html>