<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title ">
                    <h3 class="center-align">HAKKIMIZDA</h3>
                </div>
            </div>
           
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <h4 style="color:black">
                    -Türkiye Istanbul ilinde , 652 ve 2021/339 - 2021/57 istanbul anadolu asliye hukuk mahkemesi nolu kararı ve vakıflar genel müdürlüğü 140.01.088765 merkezi sicil no ve  9971699057 vergi no ile 17.12.2021 tarihinde Vakfın faaliyet ve programlarını yurt içinde ve yurt dışında dünyanın her yerinde hizmet verebilecek şekilde kurulmuştur.
                </h4>

                <h4>
                    -İnsanları geliştirme , yardım, eğitim ve kültürel programları  sağlama konusunda uzmanlaşmış niteliksel bir vakıfır.  Kaliteli programları, profesyonel projeleri, uzman bir ekip ve sıkı stratejik planları sayesinde , yoksul ve muhtaçlara yardım eder. sağlık hizmetleri ile yetim ve özel ihtiyaçları olan insanlara gerek bakımları sağlamaktır.
                </h4>
                
            </div>
            <div class="col-lg-6">
                <div class="banner-section">
                    <img src="~/assets/images/logo/white2.jpeg"
                         class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
            <div class="log-lg-12">
                <h2 style="color:seagreen">
                    Neden Zemzem vakfı?
                </h2>
                <h5 style="color:brown">
                    1- ALLAH İNSANLARI YARATTI VE ONLARA PEYGAMBERLERİ GÖNDERDİ, KUTSAL KİTAPLARI İNDİRDİ. ALLAH, BU KUTSAL KİTAPLARI; İNSANLAR İLİM ALSINLAR, ALDIKLARI İLİMLERİ UYGULASINLAR VE BÖYLECE  HAYATI BOYUNCA GÜZEL İŞLERİ YAPSINLAR, HAYIR BARIŞ İÇİNDE YAŞASINLAR  DİYE İNDİRDİ.
                </h5>
                <h5 style="color:gray">
                    2- ZİRA YÜCE DİNİMİZ İLİM ÖĞRENMEYE BÜYÜK ÖNEM VERMİŞTİR. NİTEKİM KURAN-I KERİM’İN İLK EMRİ OKU’DUR. İNSANLAR KENDİLERİNE SUNULAN İLİMLE GÜZEL ŞEYLERİ GÖRÜR ALLAH’IN NURUYLA DA NURLANIP KALPLERİ GÜZELLEŞİR. ALLAH’IN PEYGAMBERLER VE KUTSAL KİTAPLAR ARACILIĞIYLA BİZLERE GÖSTERDİĞİ BU GÜZEL YOLLA GECELER GÜNEŞ GİBİ AYDINLANIR. BU GÜZEL YOLDA EMREDİLDİĞİ ÜZERE İNSAN BİRBİRLERİNE MERHAMET EDER, GÜÇLÜLER ZAYIFLARA YARDIM EDER, KÜÇÜKLER BÜYÜKLERİNE SAYGI GÖSTERİR, YETİMLERE SAHİP ÇIKILIR. İNSAN VE TOPLUM ANCAK BÖYLE YÜKSELEBİLİR, BİRLİK BERABERLİK İÇERİSİNDE HUZUR İÇERİSİNDE YAŞAYABİLİR. BİZLER DE BU AMAÇLARLA BU YOLA ÇIKTIK
                </h5>
                <h5 style="color:saddlebrown">
                    3- ŞİMDİKİ ZAMANDA DÜNYANIN BİRÇOK YERİNDE SAVAŞ VAR. ÖZELLİKLE MÜSLÜMAN COĞRAFYASI MAALESEF ZULÜMLERDEN VE SAVAŞLARDAN BÜYÜK ZARARLAR GÖRÜYOR. O YÜZDEN VAKIFLAR ZULÜM GÖREN İNSANLARA YARDIM ETMEK, İNSANLARIN YAŞANTISINA DÜZEN VERMEK VE ONLARA SOSYAL, KÜLTÜREL, SAĞLIK VE EĞİTİM ANLAMINDA KATKI SAĞLAMAK İÇİN ÖNEMLİ KURULUŞLARDIR. TÜRKİYE, MÜSLÜMANLAR BAŞTA OLMAK ÜZERE ZULÜM GÖREN HERKESE YARDIM EDEN DEVLETLERİN ARASINDA EN BAŞTA GELMEKTEDİR. VAKIFLAR DA İNSANLARA YARDIM EDEN KURULUŞLAR ARASINDA EN TEPEDEDİR. O YÜZDEN BU VAKFIMIZI TÜRKİYE’DE AÇARAK BU BİRLİKTELİĞİ SAĞLAMAK İSTEDİK. OSMANLI İMPARATORLUĞU İSLAM HİLAFETİNDE ÇOK ÖNEMLİ BİR YERE SAHİPTİR. STRATEJİK OLARAK ASYA İLE AVRUPA ORTASINDA YER ALAN TÜRKİYE DE DÜNYADA ÖNEMLİ BİR YERE SAHİP. BÖYLE STRATEJİK BİR YERDE İNSANIN MEDENİYET SEVİYESİ YÜKSELİR. O YÜZDEN BİZ BURADA BU VAKFI AÇARAK BURANIN SOSYAL HAYATINA KATKI SUNMAK VE YARDIMLARIMIZI ALAN İNSANLARIN ÜLKESİNE VE İSLAM ÂLEMİNE FAYDA SAĞLAMASINI İSTEDİK.
                </h5>
                <h5 style="color:gray">
                    * Bu nedenle “Zemzem Eğitim, Kültür, Sağlık ve yardımlaşma  Vakfı” kurulması fikri ortaya çıktı.İnsanları geliştirme ve gerekli yardımı sağlama konusunda uzmanlaşmış kaliteli kuruluşlardan biri olmak. Milletine faydalı,  kendine yeten, iş ve aile hayatında başarılı bir birey olmak için gerek yardımı sağlamak.
                </h5>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
