<!DOCTYPE html>
<html lang="en">

<body>
    <!-- thank-you section start -->
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="success-text">

                        <h3>YARDIM TALEP FORUMU</h3>

                        <li>
                            <a href="https://forms.gle/SmZka6Q2WqpM6Pxj7" target="_blank" style="color:#fff; background-color:#15a599;" class="btn btn-solid">Türkçe İçİn tıklayın</a>
                        </li>
                        <li>
                            <a href="https://forms.gle/mc9HJn3bGyYykBDA9" target="_blank" style="color:#fff; background-color:#15a599;" class="btn btn-solid">نموذج اللغة العربية</a>
                        </li>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section ends -->

</body>

</html>