
<body>
    <!-- breadcrumb start-->
    <div class="breadcrumb-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="page-title">
                        <h2>Vizyon & Misyon & Ilkelerimiz</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <!-- breadcrumb end-->
    <!--section start-->
    <section class="blog-detail-page section-b-space ratio2_3">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 blog-detail">
                    @*<img src="~/assets/images/5.jpg"
        class="img-fluid blur-up lazyload" alt="">*@
                    <h3>VIZYONUMUZ</h3>
                    <p>
                        firmaların ve Vakıfların geleceğini kurma ile ilgili yapmış olduğu statejik olarak ulaşmak istediği yeri belirler. Vizyon kısaca Gelecek arzusu ve hayalidir. Yapılması planlanan düşünülen görevlerin stratejik olarak belirlenmesidir Vizyon vakıf ve Şirketlere gelecek hayallerini tasvir edip anlatmasıdır. Kısa ve akılda kalıcıdır. İlham verici İdealisttir.
                    </p>
                    
                    <p>Her alanda insani gelişme konusunda uzmanlaşmış niteliksel kurumsal vakıf çalışmalarında liderlik ve mükemmellik sağlamak.</p>

                    


                </div>

                <div class="col-lg-6">
                    <div><img src="~/assets/images/5.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col-sm-6 blog-detail">
                    <h3>MISYONUMUZ</h3>
                    
                    <p>Kaliteli programlar,mesleki projeler ve ilgili uluslararası otoritelerle uluslararası kalite standartlarına uygun verimli ortaklıklar yoluyla insaların gelişme konusunda özel bir durak, yoksullara,özel ihtiyaç sahiplerine,yardıma muhtaç kişilere,yetimlere eğitim ve sağlık yardımı sağlamak</p>


                </div>

                <div class="col-lg-6">
                    <div><img src="~/assets/images/8.jpg" class="img-fluid blur-up lazyload bg-img" alt=""></div>
                </div>
            </div>
            <br />
            <br />
            <div class="row">
                <div class="col-sm-6 blog-detail">

                    <h3>HEDEFLERIMIZ</h3>
                    <div class="col-lg-12">
                        <ul style="color:gray">
                            <li>1-İHLASLI VE SAMİMİ OLMAK.</li>
                            <li>2-HEYECANLI VE FEDAKAR OLMAK.</li>
                            <li>3-VAKIF RUHUNA UYGUN AHLAKLI OLMAK GEYRETLİ BİR ŞEKİLDE ÇALIŞMAK.</li>
                            <li>4-MERHAMETLİ VE ŞEVKATLİ OLMAK.</li>
                            <li>5-LİYAKATLİ, İŞİNİN ERBABI OLMAK VE İŞİNİ SORUMLULUK BİLİNCİ İLE YAPIYOR OLMAK.</li>
                            <li>6-MESULİYET ŞUURU İLE VAKFA VE YAPILAN TÜM HİZMETLERE SAHİP ÇIKMAK SONUÇLANDIRMAK.</li>
                            <li>7-ADALAETLİ OLMAK İNSANLARA ADELETLİ DAVRANMAK.</li>
                            <li>8-İSRAF VE LÜZUMSUZ HARCAMALARI ÖNLEMEK İÇİN GEREKEN HASSASİYETE SAHİP OLMAK</li>
                            <li>9-EDEPLİ TEMİZ ZERAFETLİ OLMAK.YALAN ATMAMAK AÇIK VE NET DAVRANMAK.</li>
                            <li>10-ŞEFFAF VE HESAP VERİLEBİLİR DAVRANIŞ VE UYGULAMALARDA BULUNMAK.</li>
                        </ul>
                    </div>


                </div>

                <div class="col-lg-6">
                    <div><img src="~/assets/images/1.jpeg" class="img-fluid blur-up lazyload bg-img" alt=""></div>
                </div>
            </div>






        </div>
    </section>
    <!--Section ends-->


    
</body>
