

<section class="about-page section-b-space">
    <div class="container">
        <h2 style="color:darkslategrey">Kişisel Verilerin Korunması Kanunu</h2>
        <h5>
            Zemzem Vakfı, yürütmekte olduğu faaliyetler kapsamında kişisel verilerinizin işlenmesinde 6698 sayılı Kişisel Verilerin Korunması Kanunu (“KVKK”)’na uygun olarak her türlü teknik ve hukuki tedbiri almaktadır. İlgili kişiler, kişisel verilerinin işlenmesi, üçüncü kişilere aktarılması, kişisel veri toplamanın hukuki sebepleri ile KVKK’da yer alan hakları konularında detaylı bilgiye bu aydınlatma metninden ulaşabilirler.
        </h5>

        <h3>I. Kişisel Verilerin İşlenme Amaçları</h3>
        <h5>
            Kişisel verileriniz aşağıdaki durum ve koşullarda veri sorumlusu ya da atayacağı gerçek/tüzel kişiler tarafından işlenebilmektedir: Türkiye'nin ve dünyanın birçok yerinde gıda, giyim, eğitim, sağlık, barınma alanlarındaki sosyal projelerinin hayata geçirilmesi amacıyla, gerek yurt içinde gerekse yurt dışındaki ihtiyaç sahiplerine yardım amacıyla kurulan, bağışçı ve gönüllü vatandaşlarımızın ayni ve nakdi yardımlarının web sitemiz ve derneğimiz tarafından belirlemiş olduğumuz usullerle tarafımıza ulaştırılması amacıyla, bağışçı ve gönüllülerimizin ayni ve nakdi yardımlarının ihtiyaç sahiplerine en hızlı ve en az maliyetle ulaştırılmasını sağlamak amacıyla, derneğimizin gerçekleştirdiği faaliyetlerin ve yardım kampanyalarının SMS, E-Bülten ve sair iletişim vasıtalarıyla duyurulması amacıyla, servis hizmetlerinin ve çeşitli lojistik faaliyetlerinin planlanması ve icrası amacıyla, tarafımıza iletilen bilgilerin doğru ve güncel olduğunu teyit etmek amacıyla, faaliyetlerimizi, uluslararası standartlara uygun şekilde gerçekleştirmek ve yardımlaşma ruhunun oluşmasına ve gelişmesine öncülük etmek amacıyla, çalışanlarımızın, misafirlerimizin ve derneğimize ait bina güvenliğinin, kamera kaydı ve sair güvenlik önlemleri ile sağlanabilmesi ve giriş-çıkışların kontrol edilebilmesi amacıyla, ilgili kanunlar ve idari düzenlemeler uyarınca düzenlenme yükümlülüğümüzün bulunduğu evrakların düzenlenebilmesi amacıyla, derneğimizin taraf olduğu sözleşmelerin eksiksiz ifası ve bu sözleşmelerde karşı tarafların sözleşmeleri eksiksiz ifa ettiklerinin kontrolü amacıyla, derneğimiz ile iş ilişkisi içerisinde olan gerçek/tüzel kişilerin hukuki güvenliğinin sağlanması amacıyla, derneğimiz bünyesinde yer alarak gerçekleştirdiğimiz faaliyetlerde dernek üyesi/gönüllü olarak yer almak isteyen kişileri, ekibimize dahil etmek amacıyla, mevzuat uyarınca Derneğimizin tutması gereken resmi belgelerin düzenlenmesi ve bu işlemlere ait süreçlerin doğru bir şekilde yürütülmesi amacıyla, dernek çalışanlarımıza teslim edilen araç ve gereçlerin verimli ve etkili kullanılmasını sağlamak amacıyla, derneğimize başvuran çalışama adaylarının işe alım süreçlerinin değerlendirilmesi, iş başvurusu kabul edilen çalışanların özlük dosyalarının oluşturulması ve Derneğimizin İnsan Kaynakları politikalarının sürdürülmesi amacıyla, çalışanlarımızın moral ve motivasyonunun, performans düzeyinin, memnuniyetlerinin, birbirleriyle ve Derneğimiz ile olan etkileşimlerinin artırılması ve Derneğimize olan bağlılıklarının sağlanması amacıyla, çağrı merkezlerimizle ya da dernek telefonlarımızla iletişim sağlanması halinde, ses ve görüntü kaydı ile iletişimin tespiti ve içeriğin belirlenebilmesi amacıyla, iş sözleşmelerinden kaynaklanan başta ücret ödeme borcu olmak üzere sair yükümlülüklerimizin yerine getirilebilmesi amacıyla, derneğimizde meydana gelebilecek olaylarda disiplin sürecinin işletilebilmesi amacıyla, yargı, İçişleri Bakanlığı, belediyeler ve ilgili diğer kamu kurum ve kuruluşları ile yurt dışında yürütülen projelerde bu bölgelerdeki kamu kurum ve kuruluşlarının taleplerinin yerine getirilmesi amacıyla, işletme ve tesislerimizi ziyaret eden misafirlerimizin, çalışanlarımızın internete erişiminin sağlanması amacıyla, iş yürütme programlarının hazırlanması, iş listelerinin hazırlanması ve uygulanması amacıyla, internet sitemizin ziyaret edilmesi durumunda istatiksel verilerin oluşturulması, ziyaretçi bilgilerinin kaydedilmesi ve geri dönüşlerin sağlanması amacıyla, gerekli kalite ve standart denetimlerimizin yapılabilmesi ya da kanun ve yönetmelikler ile belirlenmiş sair yükümlülüklerimizin yerine getirilmesi amacıyla, mevzuatta veya kabul ettiğimiz politikalarda meydana gelen değişikliklerin bildirilmesi veya veri sahibini ilgilendiren bildirimlerin yapılması amacıyla,
        </h5>

        <h3>II. Kişisel Verilerin Aktarılması</h3>
        <h5>
            İşlenen kişisel verileriniz yukarıdaki amaçlarla ve KVKK’nın belirlediği koşullar çerçevesinde: Faaliyetlerimizin yerine getirilebilmesi, sürekliliğinin ve koordinasyonun sağlanabilmesi amacıyla, sosyal yardım projelerinin yürütüldüğü kamu ve özel kişi ve kurumlar, bağışçı ve gönüllülerimize, sosyal hizmetlerin yürütülebilmesi amacıyla sınırlı olarak tedarikçilerimize, proje ortaklarımıza, bağışçı ve gönüllülerimize, ilgili mevzuat hükümlerine göre sosyal hizmet niteliğindeki faaliyetlerimizin denetimi amacıyla T.C. İçişleri Bakanlığı, Dernekler Dairesi Başkanlığı ve ilgili sözleşmeler kapsamında denetim firmalarına, ilgili mevzuat hükümlerine istinaden yükümlülüklerimizin yerine getirilmesi ve denetimi amacıyla ilgili denetim firmalarına, özel entegratör firmalarına, bağımsız denetim firmalarına, mali müşavir/muhasebe firmalarına, hukuk bürolarına, sosyal yardım proje ve hizmetlerimize ilişkin stratejilerin hazırlanması ve uygulanması amacıyla tedarikçilerimize, bağışçı ve gönüllülerimize
            Derneğimizin bilinirliğini ve marka değerini artırmak, internet altyapısını geliştirmek ve güncelliği korumak amacıyla yurtiçi ve/veya yurtdışı özel ve kamu tüzel kişiliklerine, derneğimizin faaliyet konularını ve sosyal hizmet projelerini gerçekleştirebilmek amacıyla iş birliği içinde olduğumuz yurtiçi ve yurtdışı gerçek/tüzel kişiler ile kamu kurum ve kuruluşlarına, işletim sistemleri ve bilgisayar programlarının veri tabanlarının oluşturulması, program işlerliğinin sağlanması ve programın bakım ve onarımının yapılabilmesi amacıyla, yurtiçi ve yurtdışında kurulu yazılım firmalarına ve teknoloji şirketlerine, güvenlik, teknoloji ve bulut hizmetleri kapsamında dijital verilerin yurtiçi ve yurtdışında kurulu bu hizmetleri veren kurum/kuruluşlara, acil tıbbi müdahaleler ve iş sağlığı ve güvenliği yükümlülüklerini yerine getirmek amacıyla, İş sağlığı ve güvenliği şirketlerine, hastanelere ve sağlık kuruluşlarına, bankacılık ve finans işlemlerinin gerçekleştirilmesi amacıyla banka ve finans kurumlarına, Vergi Dairesi’ne, tamir, bakım, onarım ve servis hizmetleri yürüten çözüm ortağı şirketlere, tedarikçilerimize ve bu alanda faaliyet gösteren firmalara, mali ve finansal, yasal izin ve sorumlulukların yerine getirilebilmesi amaçlarıyla proje ortaklarımıza, şubelerimize, tedarikçilerimize, T.C. İçişleri Bakanlığı, Dernekler Dairesi Başkanlığı’na, etkinlik, konferans, kutlama ve benzeri sosyal etkinliklerin gerçekleştirilmesi amacıyla hizmet alınan firmalara, konaklama, ulaşım ve turistik amaçlarla turizm firmalarına, otellere ve organizasyon şirketlerine, çalışanlarımıza sağlanacak yemek, hediye, promosyon ve benzeri hizmetlerin yürütülebilmesi için ilgili yemek firması ve organizasyon firmalarına, faaliyetlerimizin ve yardım kampanyalarımızın tanıtım süreçlerinin gerçekleştirilmesi amacıyla proje ortaklarımıza ve tedarikçilerimize, ilgili kamu kurum ve kuruluşlarının talepleri doğrultusunda ve talep amaçlarıyla sınırlı olarak hukuken yetkili kamu kurum ve kuruluşlarına ve yargı organlarına aktarabilmekteyiz.
        </h5>

        <h3>III. Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi</h3>
        <h5>
            Kişisel verileriniz, Derneğimiz veya Derneğimiz adına veri işleyen gerçek/tüzel kişiler tarafından, başvuru formları, internet sitesi, muhtelif sözleşmeler, her türlü bilgi formları, anketler, iş başvuru formları, iş sözleşmeleri, sosyal medya uygulamaları, bağışçı ve gönüllülerimizden, tedarikçilerimizden ve proje ortaklarımızdan gelen yazılı, sözlü ve dijital bildirimler, çağrı merkezleri ve burada sayılanlarla sınırlı olmamak üzere sözlü, yazılı veya elektronik kanallar aracılığı ile açık rızanız ya da KVKK’da öngörülen diğer veri işleme şartları kapsamında toplanmaktadır.

            Bu bilgiler, sosyal hizmet niteliğindeki faaliyetlerimizin, yasalar çerçevesinde sunulabilmesi ve bu kapsamda Derneğimizin sosyal hizmet niteliğindeki hizmetlerini yürütebilmesi ve yasalardan doğan mesuliyetlerini eksiksiz ve doğru bir şekilde yerine getirebilmesi amaçlarıyla edinilir.
        </h5>


        <h3>IV. Kişisel Verilerin Saklanması ve İmha Edilmesi</h3>

        <h5>
            Derneğimiz, kişisel verileri, kişisel verilerin işlenmesi amacı doğrultusunda, işleme amacıyla orantılı bir şekilde saklamaktadır. Kişisel veriler, işlenme amacının ve/veya sebebinin ortadan kalkmış olması durumunda ilgili mevzuatın gerektirdiği süre sonuna kadar saklanmaktadır. Kişisel verilerin işlenme amacı ve sebebi ortadan kalktığında yasalardan kaynaklanan yükümlülüklerimizin temini için gerekli zamanaşımı süreleri tamamlandığında kişisel veriler imha edilecektir. Kamu hizmetinden kaynaklanan istisna kapsamındaki kişisel verilerin imha edilmesi ve anonim hale getirilmesi bağlı bulunduğu yasal mevzuat çerçevesinde gerçekleştirilecektir.
        </h5>
        <h3>V. İlgili Kişinin Hakları</h3>


        <h5>
            Derneğimiz bünyesinde kişisel verisi işlenen gerçek kişiler KVKK’nın 11. maddesi uyarıca aşağıdaki haklara sahiptirler:

            Kişisel verisinin işlenip işlenmediğini öğrenme,

            Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,

            Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,

            Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,

            Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,

            KVKK ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,

            İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,

            Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme.

            İlgili kişi bu haklarına ilişkin taleplerini Derneğimizin aşağıda yazılı adresine noter aracılığıyla göndereceği ihtarname ile veya kimlik ibraz etmek suretiyle şahsen başvuru yöntemiyle yazılı olarak bildirebilir. ilgili kişinin talepleri en kısa sürede ve nihayetinde en geç altmış (60) gün içerisinde ücretsiz olarak değerlendirilip karara bağlanacaktır. Değerlendirme ve karar verme işleminin ayrıca bir maliyeti gerektirmesi durumunda Kişisel Verileri Koruma Kurulu tarafından belirlenen tarifedeki ücret esas alınacaktır.

            Kamuoyuna saygılarımızla arz olunur.
        </h5>

        <h3>VI. Veri Sorumlusunun Kimliği</h3>

        <h5>
            İnternet Adresi: www.zemzemvakif.tc
        </h5>
        <h5> E-Posta Adresi: info@zemzemvakif.tc</h5>
        <h5>Telefon Numarası : +90 212 499 11 11</h5>
        <h5>Telefon Numarası : +90 501 499 11 11</h5>
        <h5> Adres : Yukarı Dudullu Mahallesi Tavukçu Yolu Caddesi No: 237/1 Posta34775 Ümraniye / İstanbul</h5>
    </div>
</section>