<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="page-title ">
                    <h3 class="center-align">BAŞKANDAN</h3>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">

        <div class="row">

            <div class="col-sm-6">
                <h2 style="color:darkslategrey">DR.AHMED ALBASHARI</h2>
                <h4 style="color:black">
                    - Dünyada tüm insanlığın almış olduğu ve maruz kalmış olduğu yaraları sarmak, problemlerine yol göstermek, yardımcı olmak. Yapılacak Yardım faaliyetlerini fiili olarak ulaştırabilecek alt yapı sistemlerini kurmak ve gerçekten insanları mutlu edecek çalışmalara öncülük yapmak. İnsanları eğitmek ve huzur içinde yaşamaları için maddi ve manevi olarak katkıda bulunmak. Yoksullukla ve Hastalıklarla mücadele edebilecek çalışmalar yapmak insanları bu konularda eğitecek sistemler kurmak ve uygulamak.
                </h4>

                <h4>
                    - Ulusal ve Uluslar arası alanda Din, Dil, Irk ayırımı yapmadan tüm ihtiyaç sahibi insanlara Eğitim faaliyetlerinde bulunmak, yaralarını sarmak, yoksulluk ve problemleriyle yakından ilgilenerek çözümler üretmek. Uygulama alanları kurmak. Ahlaklı, erdemli, özgüvenli, ideal sahibi, bilgili çalışkan insanlar yetiştirmek. Örnek ve Hizmet Odaklı yardımsever bir Vakıf olmak. İnsanlığa Yaşama sevincini, manevi huzuru yeniden kazandıracak çalışmalar içinde yer almak.
                </h4>
            </div>
            <div class="col-lg-6">
                <div class="banner-section">
                    <img src="~/assets/images/dmcover.jpeg"
                         class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
