@model TbCategory
    <!-- about section start -->
<section class="about-page section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="banner-section">
                    <img src="@string.Format("/catimage/{0}",Model.CategoryImage)"
                         class="img-fluid blur-up lazyload" alt="">
                </div>
            </div>
            <div class="col-sm-12">
                <h4>
                    @Model.CategoryTitle
                </h4>

                <p>
                    @Model.CategoryDescription
                </p>
            </div>
        </div>
    </div>
</section>
<!-- about section end -->
