@model TbBanner
<div class="page-body">



    <!-- Container-fluid starts-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">

                <div class="card card-info">
                    <div class="card-header">
                        <div class="btn btn-primary">Add Banner</div>
                    </div>
                    <form asp-controller="Home" asp-action="SaveBanner" method="post"
                          role="form" class="form-horizontal" enctype="multipart/form-data">
                        <div class="card-body">



                            

                            <div class="form-group row">
                                <input type="hidden" asp-for="TbBannerId" />
                                <label for="inputEmail3" class="col-sm-2 col-form-label">Banner Image</label>
                                <div class="col-sm-4">
                                    <input type="file" name="Files" class="form-control">
                                </div>
                            </div>



                        </div>

                        <div class="card-footer">
                            <button type="submit" class="btn btn-success">Submit</button>

                        </div>
                    </form>

                </div>



            </div>
        </div>
    </div>
    <!-- Container-fluid Ends-->




</div>

